Source: ros-hydro-pr2-gazebo
Section: misc
Priority: extra
Maintainer: John Hsu <hsu@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), gazebo, ros-hydro-catkin, ros-hydro-gazebo-plugins, ros-hydro-pr2-gazebo-plugins
Homepage: http://ros.org/wiki/pr2_gazebo
Standards-Version: 3.9.2

Package: ros-hydro-pr2-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo, ros-hydro-diagnostic-aggregator, ros-hydro-fingertip-pressure, ros-hydro-gazebo-plugins, ros-hydro-geometry-msgs, ros-hydro-image-proc, ros-hydro-joint-trajectory-action, ros-hydro-pr2-controller-configuration-gazebo, ros-hydro-pr2-dashboard-aggregator, ros-hydro-pr2-description, ros-hydro-pr2-gazebo-plugins, ros-hydro-pr2-gripper-action, ros-hydro-pr2-head-action, ros-hydro-pr2-mechanism-controllers, ros-hydro-pr2-msgs, ros-hydro-robot-mechanism-controllers, ros-hydro-robot-pose-ekf, ros-hydro-rospy, ros-hydro-single-joint-position-action, ros-hydro-std-msgs, ros-hydro-stereo-image-proc, ros-hydro-tf2-ros, ros-hydro-topic-tools, ros-hydro-xacro
Description: Launch scripts for simulating the PR2 in gazebo. The simulation equivalent of pr2.launch is found here. pr2_fingertip_pressure_contact_translator produces the same ROS topics as fingertip_pressure package for simulated PR2.
